[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "zen_garden"
authors = [
  {name = "Jacob Mannhardt", email = "zen-garden@ethz.ch"},
  {name = "Alissa Ganter"},
  {name = "Johannes Burger"},
  {name = "Francesco De Marco"},
  {name = "Lukas Kunz"},
  {name = "Lukas Schmidt-Engelbertz"},
  {name = "Giovanni Sansavini"},
  ]
# do not change version manually! Done by bump2version
version = "2.0.0"
requires-python= ">=3.10"
description="ZEN-garden is an optimization model of energy systems and value chains."
readme = "README.md"
license = { file = "LICENSE.txt" }

dependencies = [
    "xarray",
    "cython",
    "numpy<=1.26.4",
    "pandas>=2.2",
    "scipy",
    "pint",
    "tables",
    "pydantic",
    "tsam",
    "h5py",
    "filelock",
    "ordered-set",
    "pyogrio",
    "psutil",
    "linopy<=0.3.10",
    "requests",
    "ipykernel",
    "zen-temple"
]

[project.optional-dependencies]
docs = [
    "sphinx==7.3.7",
    "myst-parser==3.0.1",
    "sphinx-book-theme==1.1.3",
    "pydata-sphinx-theme==0.15.4",
    "sphinx-reredirects==0.1.4",
    "nbsphinx==0.9.4",
    "nbsphinx-link==1.3.0",
]

dev = [
    "pytest",
    "coverage",
]

vis = [
    "matplotlib",
]

gurobipy = ["gurobipy"]

[project.urls]
Homepage = "https://github.com/ZEN-universe/ZEN-garden"
Documentation = "https://zen-garden.readthedocs.io/en/latest/"
Zenodo = "https://zenodo.org/api/records/13385110"
