JNB_USERNAME="<username>"   # ETH username for SSH connection to Euler
JNB_NUM_CPU=8               # Number of CPU cores to be used on the cluster
JNB_NUM_GPU=0               # Number of GPUs to be used on the cluster
JNB_RUN_TIME="04:00"        # Run time limit for the jupyter notebook in hours and minutes HH:MM
JNB_MEM_PER_CPU_CORE=2048   # Memory limit in MB per core
JNB_WAITING_INTERVAL=60     # Time interval to check if the job on the cluster already started
JNB_SSH_KEY_PATH=""         # Path to SSH key with non-standard name
JNB_SOFTWARE_STACK="new"    # Software stack to be used (old, new)
JNB_WORKING_DIR=""          # Working directory for the jupyter notebook
JNB_ENV="<path/to/your/env/zen_garden_env>"  # Path to virtual environment
