numpy<=1.26.4
glpk
geopandas
gurobipy
hdfdict
pandas
pip
ordered-set
xarray
linopy<=0.3.10
coverage
pytest
scipy
sympy
ipython
jupyter
pint>=0.23
entsoe-py
matplotlib
mpmath
tsam
tables
filelock
pydantic
pyyaml