numpy
glpk
geopandas
gurobipy
hdfdict
pandas
pip
ordered-set
xarray==2023.8.0
linopy==0.1.5
coverage
pytest
scipy
sympy
ipython
jupyter
pint<0.20
entsoe-py
matplotlib
mpmath
tsam
tables
filelock
pydantic
pyyaml<5.4